/* link style */
a, button {
  font-family: 'Montserrat';
  color: #CC00AA;
  text-decoration: none;
}
a:link {
  color: #CC00AA;
  text-decoration: none;
}
a:visited {
  color: #CC00AA;
  text-decoration: none;
}
a:hover {
  color: red;
  text-decoration: none;
}
a:active {
  color: yellow;
  text-decoration: none;
}

/* h, a, p tag style */
h1, h2, h3, h4, h5, h6, p, ol, ul, li, span, div{
  font-family: 'Montserrat';
  color: white;
}

/* table style */
table, th, td {
    border: 1px dotted;
    border-color: white;
    color: white;
    font-family: 'Montserrat';
}
/* the rest of the style for the site */
body {
  margin: 20px;
  background: rgb(20, 20, 20);
}

/* Style that centers text inside of images */
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.almostcentered {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}
.tablecenter {
  margin-left: auto;
  margin-right: auto;
}
.over { 
  position:absolute; 
  top:20px; 
  left:20px;  
}


/* New Style 4 collapsibles */
.collapsible {
  background-color: rgb(20, 20, 20);
  font-family: 'Montserrat';
  color: #C0a;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 15px;
}
.content {
  padding: 0 18px;
  font-family: 'Montserrat';
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: rgb(20, 20, 20)
}

.active, .collapsible:hover {
  color:red;
  font-family: 'Montserrat';
}