/* link style */
a:link {
  color: rgb(255, 255, 255);
  background-color: none;
  text-decoration: none;
}
a:visited {
  color: rgb(255, 255, 255);
  background-color: none;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: none;
  text-decoration: none;
}
a:active {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
/* h2 link style */
h2:link {
  color: white;
  background-color: none;
  text-decoration: none;
  transition: 0.1s;
}
h2:visited {
  color: white;
  background-color: none;
  text-decoration: none;
  transition: 0.1s;
}
h2:hover {
  color: #18D;
  font-size: 27px;
  background-color: none;
  text-decoration: none;
  transition: 0.1s;
}
h2:active {
  color: #2CF;
  background-color: transparent;
  text-decoration: none;
}
/* p link style */
p:link {
  color: white;
  background-color: none;
  text-decoration: none;
}
p:visited {
  color: white;
  background-color: none;
  text-decoration: none;
}
p:hover {
  color: blue;
  background-color: none;
  text-decoration: none;
}
p:active {
  color: cyan;
  background-color: transparent;
  text-decoration: none;
}
/* h1, h2, h4, h5 text whitening. h2&4 have backgrounds */
h1 {
  font-family: 'Comfortaa';
  color: white;
}
h2 {
  font-family: 'Comfortaa';
  color: #DADADA;
  transition: 0.1s;
}
.noth2link:hover {
  font-family: 'Comfortaa';
  color: #DADADA;
}
h3 {
  font-family: 'Comfortaa';
  color: white;
}
h4 {
  font-family: 'Comfortaa';
  color: white;
  background-color: gray;
}
p {
  font-family: 'Comfortaa';
  color: #DADADA;
}
.notPlink:hover {
  font-family: 'Comfortaa';
  color: #DADADA;
}
h5 {
  font-family: 'Comfortaa';
  color: white;
}
/* the rest of the style for the site */
html {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
}
body {
  height: 100%;
  margin: 0;
  background: rgb(40, 40, 40);
  justify-content: center;
  align-items: center;
}
canvas {
  border: 5px solid rgb(255, 255, 255);
}
/* Style that centers text inside of images */
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.almostcentered {
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}
.tablecenter {
  margin-left: auto;
  margin-right: auto;
}       
.over { 
  position:absolute; 
  top:20px; 
  left:20px;  
}
.newgames {
  font-style: italic;
  text-shadow:#a3dcff 1px 0 10px;
}