@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    font-family: Montserrat;
    background-color: rgb(20, 20, 20);
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
#dropdown-games {
    background-color: #0B1332;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
}
/* not displaying every div except for the main one */
 #window, #fullscreen, #your-stats-index, #gameReturn, #enlarge{
    display: none;
}
main, header, #window, #your-stats-index {
    margin: 10px;
    color: white;
    text-align: center;
}

p a:link, p a:visited {
    color: lime;
}
p a:hover {
    color: #00DD00;
}

#allSites p a:link, #allSites p a:visited, #footlink, #footlink:visited {
    color: #DADADA;
}
#allSites p a:hover, #footlink:hover {
    color: white;
}
.col-md-3 {
    margin: 5px 0px 5px 0px;
}
#main .row div button, #main .dropdown .dropdown-toggle {
    padding: 20px 5% 20px 50%;
    background-size: 100% 100%;
}
#main + row .col-md-3 {
    margin: 0px 10px 0px 10px;
}
footer {
    color: white;
    background-color: rgb(20, 20, 20);
}
#frm {
    height: 650px;
    width: 70%;
}
.btn-warning {
    font-size: 10px;
    padding: 5px;
    border-radius: 15px;
}
#fullframe {
  display: block;  /* iframes are inline by default */   
  height: 100vh;  /* Set height to 100% of the viewport height */   
  width: 100vw;  /* Set width to 100% of the viewport width */     
  border: none; /* Remove default border */
}
.dropdown-toggle::after {
    display: none !important;
}
/* puts stuff over other stuff, used for the minimize button */
.over { 
  position:absolute; 
  top:20px; 
  left:20px;  
}