/* style for the entire site */
html, body {
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa';
  background: #282828;
}

/* hiding game id*/
#menu {
  display: block;
}
#window {
  display: none;
}
#fullscreen {
  display: none;
}

/* fullscren style*/
#fullframe {
  display: block;  /* iframes are inline by default */   
  height: 100vh;  /* Set height to 100% of the viewport height */   
  width: 100vw;  /* Set width to 100% of the viewport width */     
  border: none; /* Remove default border */
  border-radius: 0px;
  margin: 0px;
}
/* text styling */
h1, h2, h3, h4, h5, h6, p {
  color: white;
  text-align: center;
}

/* a link style for the about page */
a:link, a:visited {
  color: #DDF;
  text-decoration: none;
}
a:hover {
  color: #18D;
  text-decoration: none;
}

/* style for iframes on the windowed game pages */
.window {
  margin: 0px 0px 0px 50px;
  border: 5px solid #2D3554;
  border-radius: 5px;
}

/* grid and odd grid class for grid layout */
.grid {
  display: grid;
  grid-template-columns: 185px 185px 185px 185px 185px 185px;
}
.oddgrid {
  display: grid;
  grid-template-columns: 185px 185px 185px 185px 185px
}

/* the default grid item and its hover style */
.item, button {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 22px;
  margin: 19px;
  font-size: 22px;
  text-align: center;
  color: white;
  transition: .1s;
  background-color: #212121;
  background-size: 147px 70px;
  box-shadow: black 1px 0 10px;
  text-shadow: 4px 4px 4px black;
  font-family: comfortaa;
}
.item:hover, button:hover {
  margin: 17px;
  padding: 23px;
  transition: .1s;
  cursor: pointer;
  box-shadow: black 2px 0 17px;
  font-size: 23px;
  background-size: 152px 75px;
  font-family: comfortaa;
}

/* adjusts .item so it's the same size when it has two lines of text */
.twoline {
  padding: 10px !important;
  font-size: 22px;
}
.twoline:hover {
  font-size: 23px;
  padding: 10.5px !important;
}

/* top items, used for navigation buttons */
.topitem {
  padding: 8px;
  margin: 10px;
  background-color: #1C2443;
}
.topitem:hover {
  margin: 8px;
  padding: 9px;
  box-shadow: black 2px 0 15px;
  font-size: 23px;
}

/* gray top items */
.gtop {
  padding: 8px;
  margin: 10px;
}
.gtop:hover {
  margin: 8px;
  padding: 9px;
  box-shadow: black 2px 0 15px;
  font-size: 23px;
}

/* style for the minimize button on fullscreen files */
.minimize {
  padding: 3px;
  margin: 10px;
  background-color: #515111;
}
.minimize:hover {
  margin: 8px;
  padding: 4px;
  background-color: #818111;
  box-shadow: black 2px 0 15px;
  font-size: 23px;
}

/* featured game style */
.featured {
  font-style: italic;
  border: solid 1px white;
  box-shadow: gray 3px 0 17px;
}
.featured:hover {
  border: solid 1px #18D;
  font-style: italic;
  box-shadow: 3px 0 20px #18D;
}

/* style that makes sure indexes and windows arent broken */
.index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* style for selected text */
::selection {
  background-color: white;
  color: black;
}

/* puts stuff over other stuff, used for the minimize button */
.over { 
  position:absolute; 
  top:20px; 
  left:20px;  
}