/* tags */
body {
  background-color: #301010;
  margin: 30px;
  font-family: Source Code Pro, Courier;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
}
p, a {
  color: #DADADA;
}
img {
  width: 200px;
  height: 130px;
}

/* link style */
a:link, a:visited {
  color:red;
  background-color: #801010;
  text-decoration: none;
}
a:hover {
  color: #a01010;
  background-color: #501010;
  text-decoration: underline;
}
a:active{
  color: #401010;
  background-color: #301010;
  text-decoration: underline;
}
/* id */
#intro {
  color: #ffcccc;
}