/* tags */
body {
  background-color: #103030;
  margin: 30px;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: Source Code Pro, Courier;
}
p, a {
  color: #DADADA;
  font-family: Source Code Pro, Courier;
}
img {
  width: 200px;
  height: 130px;
}

/* link style */
a:link {
  color:cyan;
  background-color: #108080;
  text-decoration: none;
}
a:visited {
  color:cyan;
  background-color: #108080;
  font-style: none;
}
a:hover {
  color: #10A0A0;
  background-color: #105050;
  text-decoration: underline;
}
a:active{
  color: #104040;
  background-color: #103030;
  text-decoration: underline;
}
/* id */
#intro {
  color: #CCFFFF;
}